html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.message .text-animation {
  transition: transform 1s ease-in-out;
}

.message .text-animation:hover {
  transform: scale(1.2) rotate(360deg);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .nav {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }
  .message {
    padding: 1rem;
  }

  .message .text-animation:hover {
    transform: none;
  }
}
